# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio cache/options
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# Others
*.dbmdl
*.bak
*.sqlite
*.ldf
*.mdf
